/************/
* {
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  margin: 1rem auto;
  width: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main .row {
  margin: 0.5rem 1rem;
  border-radius: primaryBorderRadius;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main .row input[type="search"] {
  width: 100%;
  outline: none;
  border: none;
}

main .row button {
  padding-right: 0.5rem;
  cursor: pointer;
  color: #ff5d6b;
  background: transparent;
  outline: none;
  border: none;
}

main .row .h-wappr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .row .h-wappr .h-item {
  margin: 0 0.25rem;
  padding: 3px 8px;
  border-radius: 8px;
  background-color: #e8e8eb;
}

main .row .h-wappr .h-item button li {
  color: gray;
}

main .nav-row {
  margin: 0.5rem 1rem;
  border-radius: primaryBorderRadius;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .nav-row .nav-item {
  text-align: center;
  padding: 0.25rem 1rem;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main .nav-row .nav-item li {
  color: #ff5d6b;
}

main .map-row {
  margin: 0 1rem;
}

main .map-row img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
}

main .pharmacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .pharmacy .durg-row {
  margin: 0.5rem 1rem;
  border-radius: primaryBorderRadius;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main .pharmacy .durg-row .info-right {
  border-left: 2px solid #e8e8eb;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

main .pharmacy .durg-row .info-right p {
  text-align: center;
  margin: 0;
}

main .pharmacy .durg-row .info-right p:first-child {
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem 01rem;
}

main .pharmacy .durg-row .info-left {
  padding: 2rem 0;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

main .pharmacy .durg-row .info-left .pharmacy-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .pharmacy .durg-row .info-left .pharmacy-name img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 2rem 1rem;
  margin-right: 0.5rem;
}

main .pharmacy .durg-row .info-left .pharmacy-name .title {
  margin: 1rem;
}

main .pharmacy .durg-row .info-left .pharmacy-name .title h2 {
  font-size: 1.2rem;
}

main .pharmacy .order-now {
  font-weight: bold;
  margin: 0.5rem 1.5rem;
  margin-top: 0;
  border-radius: primaryBorderRadius;
  padding: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
  border: none;
  background-color: white;
  text-align: center;
  color: #ff5d6b;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

main .pharmacy .order-now:hover {
  background-color: #e8e8eb;
}

@media (max-width: 750px) {
  main {
    margin: 0;
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */